<div class="container" style="display: flex; flex-direction: column">
  <h5 style="margin: auto">
    Please fill the form and press submit to add a Hospital
  </h5>
  <form [formGroup]="addForm">
    <table class="table table-primary" style="border: 1px solid #bbb">
      <tbody>
        <tr>
          <td><label for="name"> Name</label></td>
          <td>
            <input
              id="name"
              type="text"
              placeholder="Name..."
              formControlName="hospitalName"
            /><span class="error-message">{{ errorName }}</span>
          </td>
          <td><label for="address"> Address</label></td>
          <td>
            <input
              id="address"
              type="text"
              placeholder="Address..."
              formControlName="hospitalAddress"
            /><span class="error-message">{{ errorAddress }}</span>
          </td>
        </tr>
        <tr>
          <td><label for="capacity"> Admit Capacity</label></td>
          <td>
            <input
              id="capacity"
              type="text"
              placeholder="Capacity..."
              formControlName="hospitalCapacity"
            /><span class="error-message">{{ errorCapacity }}</span>
          </td>
        </tr>
        <tr>
          <td><input type="submit" (click)="addHospital()" /></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
