<div class="container-fluid">
  <div class="row main-title">
    <h2 style="font-weight: 800; font-size: 50px">
      Bharat Health Care Services
    </h2>
  </div>
  <router-outlet></router-outlet>
</div>
<a class="home-button" [routerLink]="'home'"><i >Home</i></a>
<button class="login-logout-button" (click)="showLoginDetails()">
  {{ getAdminLogo() }}
</button>
<div class="userProfileDetails" *ngIf="profileVisible">
  <div
    style="
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    "
  >
    <h6>
      Logged User:<span>{{
        getAdminLogo() === "" ? "None" : getAdminLogo()
      }}</span>
    </h6>
    <button
      *ngIf="getAdminLogo() !== ''"
      (click)="adminLogOut()"
      class="btn btn-primary"
      style="width: fit-content"
    >
      Logout
    </button>
  </div>
</div>
