<div class="row">
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Risk Management</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">e-TMS</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Visitor Permit</p>
    </a>
</div>
