<div class="row">
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Team Enablement Tracking</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Surveys</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">IT Security Group</p>
    </a>
</div>