<div class="container-fluid" style="display: flex;flex-direction: column;overflow-y: auto;" >
      <div class="navbar navbar-expand-lg navbar-light bg-light navbar-custom " style="height:60px;padding-top: 0px;padding-left: 70px;padding-right: 50px;display: flex;">
            <div class="navbar-brand" >
              <a href="#"><img src="../assets/logo_hub.png" style="width: 100px;" alt="Gss1Hub"></a>
            </div>
            <div class="collapse navbar-collapse" style="flex: 1;display: flex;" id="mynavbar">
              <ul class="navbar-nav" style="flex: 1;">
                <li class="nav-item" style="margin: auto;">
                  <a class="nav-link"   href="#"><img src="../assets/MetLife.png" alt="metlife-logo"></a>
                </li>
              </ul> 
              <form  style="display: flex;flex-direction: row;">
                <input class="form-control" style="border-radius: 20px;justify-content: center;margin: auto;width: 160px;height: 30px;" type="text" placeholder="Search...">
                <a href="#"><img src="../assets/OIP.jpg" style="height: 2.5em;"></a>
                <a style="display: flex;text-decoration: none;justify-content: center;align-items: center;" href="#"><span style="color: black;font-size: 15px;font-weight: 500;margin: 10px;">Deepesh Saini</span>
                <div class="loginIcon" >DS</div></a>
              </form> 
            </div>   
      </div>
 <div>
      <div [ngClass]="{'centralContent':true}" [style.height.px]="centralComponentHeight">
      <div class="vertical-navbar" >
        <div class="leftVBarIcons" >
            <a  [routerLink]="['/facilities']" >
            <i class="fa fa-envelope-open" ></i><p style="font-size: 10px;text-align: center;">Facilities</p></a>
        </div>
        <div class="leftVBarIcons">
            <a  [routerLink]="['/finance']">
            <i class="fa fa-usd"  ></i><p style="font-size: 10px;text-align: center;">Finance</p></a>
        </div>
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/governance']">
          <i class="fa fa-eye"  ></i><p style="font-size: 10px;text-align: center;">Governance</p></a>
        </div>   
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/hr']">
          <i class="fa fa-users"  ></i><p style="font-size: 10px;text-align: center;">HR</p></a>
        </div>
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/it']">
          <i class="fa fa-window-maximize"  ></i><p style="font-size: 10px;text-align: center;">IT</p></a>
          </div>
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/migrations']">
          <i class="fa fa-bicycle"  ></i><p style="font-size: 10px;text-align: center;">Migrations</p></a>
        </div> 
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/quality']">
          <i class="fa fa-balance-scale"  ></i><p style="font-size: 10px;text-align: center;">Quality</p></a>
        </div>
        <div class="leftVBarIcons" >
          <a  [routerLink]="['/favourite']">
          <i class="fa fa-heart"  ></i><p style="font-size: 10px;text-align: center;">Favourite</p></a>
        </div>     
      </div>
      <div style="flex:1;padding: 20px;overflow-y: scroll;" >
          <router-outlet></router-outlet>
      </div>
      <div style="display: flex;flex-direction: column;">
        <div class="verticalBarBox">
          <h2>Y[our]</h2>
          <h6><i> Journey</i></h6>
        </div>
        <hr style="border: 3px solid;color:white;  opacity: 100 ;width: 130px;margin: 0;padding: 0;">
        <div ngClass="vertical-navbar" style="background-color: #93C8F8;border-top-left-radius: 0;border-top-right-radius: 0;">
              <div class="profileBox" >
                <a [routerLink]="['/']">
                <div class="profileCircle">VY</div><p style="text-align: center;"><strong>Vyom Vashista</strong><br>Completing 5 Years</p></a>
              </div>
              <div class="profileBox" >
                <a [routerLink]="['/']">
                <div class="profileCircle">VY</div><p style="text-align: center;"><strong>Vyom Vashista</strong><br>Completing 5 Years</p></a>
              </div>
              <div class="profileBox" >
                <a [routerLink]="['/']">
                <div class="profileCircle">VY</div><p style="text-align: center;"><strong>Vyom Vashista</strong><br>Completing 5 Years</p></a>
              </div>
              <div class="profileBox" >
                <a [routerLink]="['/']">
                <div class="profileCircle">VY</div><p style="text-align: center;"><strong>Vyom Vashista</strong><br>Completing 5 Years</p></a>
              </div>
              <div class="profileBox" >
                <a [routerLink]="['/']">
                <div class="profileCircle">VY</div><p style="text-align: center;"><strong>Vyom Vashista</strong><br>Completing 5 Years</p></a>
              </div>
                <a style="text-align: center;text-decoration: none;" [routerLink]="['/hr']">
                <p >View All</p></a>
          </div>
      </div> 
    </div> 
    <div  style="height: 25px;width: 100%;background-color: white;display: flex;">
      <div style="flex: 1;width: auto;"></div><div><p>© Powered By GSS IT. All Rights Reserved</p></div>
    </div>
    </div>
  </div>

<button (click)="visibleNav()" title="dropdownMenu" type="button" class="btn btn-secondray" 
      id="dropdownMenuButton" style="padding: 0px;position: fixed;z-index: 100;left: 0;top: 0;">
          <i class="fa fa-th"  style="margin: 0px;font-size: 20px;background-color:blue ;color: white;padding: 12px;"></i>
      </button>
      <div class="fixedNav" *ngIf="fixedNavVisible">
        <ul>
          <li>
            <a   href="#"><i class="fa fa-th"  style="margin: 0px;font-size: 20px;background-color:blue ;color: white;padding: 12px;"></i></a>
          </li>
          <li>
            <a   href="#"><i class="fa fa-th"  style="margin: 0px;font-size: 20px;background-color:blue ;color: white;padding: 12px;"></i></a>
          </li>
          <li>
            <a   href="#"><i class="fa fa-th"  style="margin: 0px;font-size: 20px;background-color:blue ;color: white;padding: 12px;"></i></a>
          </li>
        </ul>
      </div>

