<div class="row">
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Assurance & Reporting Tool(ART)</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">CMMI SVC 2.0</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">QA Form Dashboard</p>
    </a>
</div>