<div class="row">
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Vaccination Tracker</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Record Management System</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">MADAD Advisory Support</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Empower</p>
    </a>
</div>

