
    <div style="display: flex;flex-direction: row;" [style.height.px]="screenHeight-100">
        <div style="display: flex;flex-direction: column;height: 100%;width:50%">
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/doctor' class="btn btn-primary">Doctor</a>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/hospital' class="btn btn-primary">Hospital</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: column;height: 100%;width:50%">
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/patient' class="btn btn-primary">Patient</a>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/appointment' class="btn btn-primary">Appointment</a>
            </div>
        </div>
    </div>
