
    <div style="display: flex;flex-direction: row;" [style.height.px]="screenHeight-100">
        <div style="display: flex;flex-direction: column;height: 100%;width:50%">
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/doctor' class="btn btn-primary" style="display: flex;flex-direction: column;"><img src='./../../assets/doctor.jpg' alt='Doctors' style="height: 110px;width:200px"><span>Doctor</span></a>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/hospital' class="btn btn-primary" style="display: flex;flex-direction: column;"><img src='./../../assets/hospital.jpg' alt='Hospitals' style="height: 110px;width:200px"><span>Hospital</span></a>
            </div>
        </div>
        <div style="display: flex;flex-direction: column;height: 100%;width:50%">
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/patient' class="btn btn-primary" style="display: flex;flex-direction: column;"><img src='./../../assets/patient.jpg' alt='Patients' style="height: 110px;width:200px"><span>Patient</span></a>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;height: 50%;width: 100%;">
                <a routerLink='/appointment' class="btn btn-primary" style="display: flex;flex-direction: column;"><img src='./../../assets/appointment.png' alt='Appointments' style="height: 110px;width:200px"><span>Appointment</span></a>
            </div>
        </div>
    </div>
