<div class="row">
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Leave and Attendance</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Employee Movement</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Sepration Module</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Training</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">IJP</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">P4P</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Y[our] Journey</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">I-RESOLVE</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">HR Employee Letters</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Employee Certificate</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Employee Benefits</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Personal Information</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Question Mark</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">One People Place</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Center Stage</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Ascent HR</p>
    </a>
    <a class="componentButton d-flex" style="text-decoration: none; color: black;" href="#">
        <div class="col-2" style="margin: auto;">
        <i class="fa fa-thermometer" style="font-size:x-large;;" ></i>
        </div>
        <p style="margin: auto;margin-left: 0;;">Letter Generation</p>
    </a>
</div>